body {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  background-color: #fff;
}

.product-card-wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 48px;
  justify-content: center;

  @media (max-width: 996px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 200px);
  }
}
